<div>
  <span>Count : {{counter$ | async}}</span>
</div>

<div>
  <span>Total Price : {{totalPrice$ | async}}</span>
</div>

<div>
  <button (click)="resetAll()">Clear All</button>
</div>

<br/>
<br/>
<div *ngFor="let product of productList">
  <div class="item">
    <span>
      Product Name: {{product.name}}<br />
    </span>
    <span>
      Price: {{product.price}}<br />
    </span>
    <span>
      <button (click)="addItem(product)">Buy</button><br /><br />
    </span>
  </div>
</div>

<h3>Selected Products</h3>
<div *ngFor="let product of listOfProducts$ | async">
  <div class="item">
    <span>
      Product Name: {{product.name}}<br />
    </span>
    <span>
      Price: {{product.price}}<br />
    </span>
    </div>
</div>